$blue-color: #5036E6;
$green-color: #009465;
$soft-gray-color: #8E9199;
$white-color: #fff;
$black-color: #000;

$dark-green-color: #066C4C;

$transitionTimingFunc: cubic-bezier(0.165, 0.84, 0.44, 1);

%notosans-400 {
    font-family: 'Noto Sans';
    font-weight: 400;
}

%notosans-500 {
    font-family: 'Noto Sans';
    font-weight: 500;
}

%notosans-600 {
    font-family: 'Noto Sans';
    font-weight: 600;
}

%notosans-700 {
    font-family: 'Noto Sans';
    font-weight: 700;
}