include ../organisms/header.jade
include ../organisms/footer.jade

mixin basicTemplate()
    +header('#join', 'Вступайте в клуб', 'button', 'Зарегистрироваться')
    main.main
        block
    +footer('button', 'Зарегистрироваться', 'Шахматный клуб в Москве.', '© Chees Club.')