include ../organisms/header.jade
include ../organisms/footer.jade

mixin basicTemplate()
    +header('#join', 'Вступайте в клуб', '#auth', 'Зарегистрироваться')
    main.main
        block
    +footer('#auth', 'Зарегистрироваться', 'Шахматный клуб в Москве.', '© Chees Club.')