doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Правильные шахматы
        link(rel="stylesheet" href="css/style.min.css")
    body
        include ./components/templates/basicTemplate.jade
        include ./components/molecules/member.jade

        +basicTemplate()
            section.promotion
                .container
                    .promotion__inner
                        .subtitle Клуб
                        h1.promotion__title Правильные шахматы
                        p.promotion__text.
                            Приходите к нам, играть в шахматы! Сразитесь классическом поединке, блиц состязании
                            и бою с гройсмейстером. 
                        .promotion__illustrate
                            img(src="./images/patterns/promotion-pattern.svg" alt="promotion pattern")
                        .promotion__bg
            section.team
                .container
                    h1 Наша команда
                    p.team__text Лучшие шахматисты и шахматистки любители России, гройсмейстеры, с ними играть — одно удовольствие!
                    .team__cards
                        .swiper
                            .swiper-wrapper
                                - var membersList = [{imgSrc: './images/members/1.jpg',title: 'Андрей',text: 'Шахматист, писатель.'},{imgSrc: './images/members/2.jpg',title: 'Никита',text: 'Шахматист, кулинар.'},{imgSrc: './images/members/3.jpg',title: 'Алексей',text: 'Шахматист, геймер.'}]
                                for memberInfo in membersList
                                    .swiper-slide
                                        +member(memberInfo)
                            .team__cards.swiper-pagination
            section.offer
                .container
                    .offer__inner
                        .offer__bg
                        .offer__info
                            h1.offer__title Хочешь в комаду?
                            p.text Свяжись с нами и мы обсудим все детали присоеденения к команде.
            section.battles
                .container
                    .battles__inner
                        .battles__info
                            h1.battles__title Сражения
                            p.battles__text Сражайтесь в парах и приятно проводите время. Если хотите прокачать свои навыки — сыграйте с нашими шахматистами.
                        .battles__cards
                            .swiper
                                .swiper-wrapper
                                    .swiper-slide
                                        .battles__card
                                            img(src="./images/gallery/1.jpg" alt="chess battle")
                                    .swiper-slide
                                        .battles__card
                                            img(src="./images/gallery/2.jpg" alt="chess battle")
                                    .swiper-slide
                                        .battles__card
                                            img(src="./images/gallery/3.jpg" alt="chess battle")
                                .battles__cards.swiper-pagination
                        .battles__illustrate
                            img(src="./images/patterns/battles-pattern.svg" alt="battles pattern")


        script(src="js/main.min.js" defer)