include ../atoms/Button.jade

mixin header(linkHref, linkText, btnHref, btnText)
    header.header
        .container
            .header__inner
                a(href="#home-page")
                    .header__img
                        img(src="../../images/logo/logo.svg" alt="logotype")
                .header__links
                    a.header__link(href=linkHref)= linkText
                    +button(btnHref, btnText)